{% extends "base.html" %}
{% block content %}
  <div class="flex flex-col gap-4 p-16 justify-center items-center">
    <a class="btn btn-secondary" href="{% url 'main:show_main' %}">⬅️Go Back</a>
    <div class="card bg-base-100 w-96 shadow-sm [&>*]:font-bold text-start p-8">
      <span>Name: {{ product.name }}</span>
      <span>Description: {{ product.description }}</span>
      <span>Price: {{ product.price }}</span>
      <span>Stok: {{ product.stock }}</span>
      <span>Thumbnail: <img src="{{ product.thumbnail }}" alt="Image for {{ product.name }}" /></span>
      <span>Created at: {{ product.created_at }}</span>
      <span>Updated at: {{ product.updated_at }}</span>
    </div>
  </div>
{% endblock content %}
