{% extends 'base.html' %}
{% block content %}
    <div class="flex flex-col gap-4 p-16 justify-center items-center">
        <form method="POST" class="card bg-base-100 w-96 shadow-sm">
        {% csrf_token %}
        <div class="card-body [&>*]:font-bold text-start">
            <h2 class="card-title">Login</h2>
            {{ form.as_table }}
            <div class="card-actions justify-end">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
        </form>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} Don't have an account yet?
        <a href="{% url 'main:render_register' %}" class="btn btn-secondary">Register Now</a>
    </div>
{% endblock %}
