{% extends "base.html" %}
{% block content %}
  <div class="hero bg-base-200 min-h-[50vh]">
    <div class="hero-content flex-col lg:flex-row">
      <img src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
        class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">Welcome to Flystep!</h1>
        <p class="pt-6">
          Built by: {{ user.name }}
        </p>
        <p class="">
          NPM: {{ user.npm }}
        </p>
        <p class="pb-6">
          Class: {{ user.class }}
        </p>
        <p class="pb-6">
          Last login: {{ user.last_login }}
        </p>
        <a class="btn btn-primary" href="{% url 'main:render_create_product' %}">Add a product!</a>
        <a class="btn btn-error" href="{% url 'main:render_logout' %}">Logout</a>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-4 p-16 items-center">
  <h1 class="text-3xl font-bold">Products</h1>
  <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 p-16">
    {% for prod in products %}
      <div class="card bg-base-100 w-96 shadow-sm">
        <figure class="flex-3/4">
          <img
            src="{{ prod.thumbnail }}"
            alt="{{ prod.name }} Image" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">{{ prod.name }}</h2>
          <p>{{ prod.description }}</p>
          <div class="card-actions justify-end">
            <a class="btn btn-primary" href="{% url 'main:render_product_details' prod.id %}">Check its details!</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  </div>
{% endblock content %}
